<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      class="h-100"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/pingendo.css}" type="text/css"/>
    <title></title>
</head>

<body class="h-100">
<!--============================================================================================================-->
<!--header-->
<div class="w-100 py-2 bg-dark" style="">
    <div class="container">
        <div class="row">
            <div class="d-md-flex justify-content-between align-items-center w-100">
                <ul class="nav d-flex justify-content-center text-white bg-dark">
                    <b th:text="${#authentication.principal.email} + ' ' + #{eu.with.role}"></b>
                    <th:block th:each="role: ${#authentication.principal.roles}">
                        <b th:text="${@roleToDtoMapper.convertRoleToDto(role).name}"></b>&nbsp;
                    </th:block>
                </ul>
                <ul class="nav d-flex justify-content-center text-white bg-dark">
                    <a sec:authorize="isFullyAuthenticated()" class="link text-muted" th:href="@{/logout}"
                       th:text="#{eu.logout}"></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--============================================================================================================-->

<div class="h-100 w-100" style="">
    <div class="container h-100">
        <div class="row h-100">
            <div class="h-100 w-100 col-md-2 p-0 mt-2">
                <div class="list-group m-0 mx-0 p-0 px-0 w-100">
                    <a th:href="@{/admin}" class="list-group-item active" th:text="#{eu.admin}"></a>
                    <a th:href="@{/}" class="list-group-item" th:text="#{eu.user}"></a>
                </div>
            </div>
            <div class="col-md-10 h-100 w-100 p-2  bg-info">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="pi-draggable">
                            <b th:text="#{eu.admin.panel}"></b>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pi-wrapper pi-draggable" draggable="true">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="active nav-link" href="" data-toggle="tab"
                                       data-target="#tabone" th:text="#{eu.users.table}"></a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link" data-toggle="tab"
                                       data-target="#tabtwo" th:text="#{eu.new.user}"></a>
                                </li>
                            </ul>
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                    <h5 class="pi-draggable pl-1">
                                        <b th:text="#{eu.all.users}"></b>
                                    </h5>
                                    <div class="table-responsive pi-draggable" draggable="true">
                                        <table class="table table-striped table-borderless">
                                            <thead>
                                            <tr>
                                                <th scope="col" th:text="#{eu.id}"></th>
                                                <th scope="col" th:text="#{eu.name.first}"></th>
                                                <th scope="col" th:text="#{eu.name.last}"></th>
                                                <th scope="col" th:text="#{eu.age}"></th>
                                                <th scope="col" th:text="#{eu.email}"></th>
                                                <th scope="col" th:text="#{eu.role}"></th>
                                                <th scope="col" th:text="#{eu.edit}"></th>
                                                <th scope="col" th:text="#{eu.delete}"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user: ${users}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.firstName}"></td>
                                                <td th:text="${user.lastName}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td>
                                                    <span th:each="role: ${user.roles}">
                                                        <small th:text="${@roleToDtoMapper.convertRoleToDto(role).name}"></small>
                                                    </span>
                                                </td>
                                                <td>
                                                    <form>
                                                        <button type="button" class="btn btn-primary"
                                                                data-toggle="modal"
                                                                data-target="#user-edit-modal" data-whatever="@mdo"
                                                                th:attr="data-target=${'#user-edit-modal'+user.id}"
                                                                th:text="#{eu.edit}">

                                                        </button>
                                                        <input type="hidden" name="_method" value="edit">
                                                        <!--modal -->
                                                        <div id="user-edit-modal" class="modal fade" tabindex="-1"
                                                             aria-labelledby="user-edit-modal-label" aria-hidden="true"
                                                             th:each="user: ${users}"
                                                             th:attr="id=${'user-edit-modal' + user.id}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="user-edit-modal-label"
                                                                            th:text="#{eu.edit.user}"></h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:method="POST"
                                                                              th:action="@{/admin/edit}">
                                                                            <div class="form-group">
                                                                                <label for="user-id"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.id}"></label>
                                                                                <input required type="text"
                                                                                       class="form-control"
                                                                                       id="user-id"
                                                                                       th:value="${user.id}"
                                                                                       th:name="id">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-first-name"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.name.first}"></label>
                                                                                <input required type="text"
                                                                                       class="form-control"
                                                                                       id="user-first-name"
                                                                                       th:value="${user.firstName}"
                                                                                       th:name="firstName">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-last-name"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.name.last}"></label>
                                                                                <input required type="text"
                                                                                       class="form-control"
                                                                                       id="user-last-name"
                                                                                       th:value="${user.lastName}"
                                                                                       th:name="lastName">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-age"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.age}"></label>
                                                                                <input required type="text"
                                                                                       class="form-control"
                                                                                       id="user-age"
                                                                                       th:value="${user.age}"
                                                                                       th:name="age">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-email"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.email}"></label>
                                                                                <input required type="text"
                                                                                       class="form-control"
                                                                                       id="user-email"
                                                                                       th:value="${user.email}"
                                                                                       th:name="email">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-password"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.password}"></label>
                                                                                <input required type="password"
                                                                                       class="form-control"
                                                                                       id="user-password"
                                                                                       value=""
                                                                                       th:name="password">
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="user-role"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.role}"></label>
                                                                                <select multiple
                                                                                        id="user-role"
                                                                                        class="form-select w-100"
                                                                                        size="3"
                                                                                        aria-label="size 3 select example"
                                                                                        th:value="${user.roles}"
                                                                                        th:name="roles">
                                                                                    <option value="1"
                                                                                            th:each="possible_role: ${possible_roles}"
                                                                                            th:text="${@roleToDtoMapper.convertRoleToDto(possible_role).name}"
                                                                                            th:value="${possible_role.id}">
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal"
                                                                                        th:text="#{eu.close}">
                                                                                </button>
                                                                                <button type="submit"
                                                                                        class="btn btn-primary"
                                                                                        th:text="#{eu.edit}">
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </td>
                                                <td>
                                                    <form>
                                                        <button type="button" class="btn btn-danger"
                                                                data-toggle="modal"
                                                                data-target="#user-delete-modal" data-whatever="@mdo"
                                                                th:attr="data-target=${'#user-delete-modal'+user.id}"
                                                                th:text="#{eu.delete}">
                                                        </button>
                                                        <input type="hidden" name="_method" value="delete">
                                                        <!--modal -->
                                                        <div id="user-delete-modal" class="modal fade" tabindex="-1"
                                                             aria-labelledby="user-delete-modal-label"
                                                             aria-hidden="true"
                                                             th:each="user: ${users}"
                                                             th:attr="id=${'user-delete-modal' + user.id}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="user-delete-modal-label"
                                                                            th:text="#{eu.delete.user}">
                                                                        </h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:method="POST"
                                                                              th:action="@{/admin/delete/__${user.id}__}">
                                                                            <div class="form-group">
                                                                                <label for="user-delete-id"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.id}">
                                                                                </label>
                                                                                <input readonly type="text"
                                                                                       class="form-control"
                                                                                       id="user-delete-id"
                                                                                       th:value="${user.id}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-delete-first-name"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.name.first}">
                                                                                </label>
                                                                                <input readonly type="text"
                                                                                       class="form-control"
                                                                                       id="user-delete-first-name"
                                                                                       th:value="${user.firstName}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-delete-last-name"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.name.last}">
                                                                                </label>
                                                                                <input readonly type="text"
                                                                                       class="form-control"
                                                                                       id="user-delete-last-name"
                                                                                       th:value="${user.lastName}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-delete-age"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.age}">
                                                                                </label>
                                                                                <input readonly type="text"
                                                                                       class="form-control"
                                                                                       id="user-delete-age"
                                                                                       th:value="${user.age}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="user-delete-email"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.email}">
                                                                                </label>
                                                                                <input readonly type="text"
                                                                                       class="form-control"
                                                                                       id="user-delete-email"
                                                                                       th:value="${user.email}">
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="user-delete-role"
                                                                                       class="col-form-label"
                                                                                       th:text="#{eu.role}">
                                                                                </label>
                                                                                <select disabled
                                                                                        id="user-delete-role"
                                                                                        class="form-select w-100"
                                                                                        size="3"
                                                                                        aria-label="size 3 select example"
                                                                                        th:value="${user.roles}"
                                                                                        th:name="roles">
                                                                                    <option value="1"
                                                                                            th:each="role: ${user.roles}"
                                                                                            th:text="${@roleToDtoMapper.convertRoleToDto(role).name}">
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal"
                                                                                        th:text="#{eu.close}">
                                                                                </button>
                                                                                <button type="submit"
                                                                                        class="btn btn-danger"
                                                                                        th:text="#{eu.delete}">
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                                    <h5 class="pi-draggable pl-1">
                                        <b th:text="#{eu.add.new.user}"></b>
                                    </h5>
                                    <div class="py-5 text-center pi-draggable"
                                         draggable="true">
                                        <div class="container">
                                            <div class="row">
                                                <div class="mx-auto col-md-6 col-10 bg-white p-5">
                                                    <form th:action="@{'/admin/create'}"
                                                          method="post"
                                                          th:object="${new_user}">
                                                        <h6 class="pi-draggable">
                                                            <b th:text="#{eu.name.first}"></b>
                                                        </h6>
                                                        <div class="form-group">
                                                            <input required type="text" class="form-control" id="form9"
                                                                   th:field="*{firstName}">
                                                        </div>
                                                        <h6 class="pi-draggable">
                                                            <b th:text="#{eu.name.last}"></b>
                                                        </h6>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="form11"
                                                                   th:field="*{lastName}">
                                                        </div>
                                                        <h6 class="pi-draggable">
                                                            <b th:text="#{eu.age}"></b>
                                                        </h6>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="form12"
                                                                   th:field="*{age}">
                                                        </div>
                                                        <h6 class="pi-draggable">
                                                            <b th:text="#{eu.email}"></b>
                                                        </h6>
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" id="form13"
                                                                   th:field="*{email}">
                                                        </div>
                                                        <h6 class="pi-draggable">
                                                            <b th:text="#{eu.password}"></b>
                                                        </h6>
                                                        <div class="form-group mb-3">
                                                            <input type="password" class="form-control" id="form14"
                                                                   th:field="*{password}">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <select class="form-select w-100" size="3"
                                                                    aria-label="size 3 select example"
                                                                    th:field="*{roles}">
                                                                <option value="1"
                                                                        th:each="possible_role: ${possible_roles}"
                                                                        th:text="${@roleToDtoMapper.convertRoleToDto(possible_role).name}"
                                                                        th:value="${possible_role.id}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary w-50"
                                                                th:text="#{eu.create}">
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================================================================================================-->
<!--footer-->
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-6 p-3">
                <img src="https://kata.academy/images/icons/logo2.svg" alt="">
            </div>
            <div class="col-lg-4 col-6 p-3">
                <p>
                    <a href="tel:8 800 350—32—96">8 800 350 32 96</a>
                </p>
                <p class="mb-0">
                    <a href="mailto:info@kata.academy">info@kata.academy</a>
                </p>
            </div>
            <div class="col-md-4 p-3">
                <h5><b>About</b></h5>
                <p class="mb-0">
                    text....
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0 mt-2">© 2021 KATA Programming Academy</p>
            </div>
        </div>
    </div>
</div>
<!--============================================================================================================-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>