<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/css/index.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>
<div>
    <!--Навигационная панель с logout-->
    <div class="topnav">
        <a th:href="@{/user}">Home</a>
        <a class="active" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin Panel</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/create}">Add User</a>
        <div class="login-panel-container">
            <div sec:authorize="isFullyAuthenticated()">
                <form class="login-panel-form" action="/logout">
                    <button type="submit">Log out</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <form class="login-panel-form" action="/login">
                    <button type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <!---------------------------------->
</div>
<div class="container">
    <table sec:authorize="hasRole('ROLE_ADMIN')" class="user-table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>login</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.login}"></td>
            <td>
                <span th:each="role: ${user.roles}">
                    <small th:text="${@roleToDtoMapper.convertRoleToDto(role).name}"></small>
                </span>
            </td>
            <td>
                <form action="#"
                      th:action="@{/admin/delete/__${user.id}__}"
                      th:method="deleteUser">
                    <button class="btn danger" name="delete">
                        <i class="fa fa-trash">
                        </i>
                        Delete
                    </button>
                    <input type="hidden" name="_method" value="delete">
                </form>
            </td>
            <td>
                <a th:href="@{admin/edit/__${user.id}__}">
                    <button class="btn success" name="edit">
                        edit
                    </button>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>