<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/css/index.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/adduser.css}" type="text/css"/>
    <title></title>
</head>
<body>
<div>
    <!--Навигационная панель с logout-->
    <div class="topnav">
        <a th:href="@{/user}">Home</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin Panel</a>
        <a class="active" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/create}">Add User</a>
        <div class="login-panel-container">
            <div sec:authorize="isFullyAuthenticated()">
                <form class="login-panel-form" action="/logout">
                    <button type="submit">Log out</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <form class="login-panel-form" action="/login">
                    <button type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <!---------------------------------->
</div>
<div class="container">
    <form id="create_form" sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/admin/create}" method="post"
          th:object="${user}">
        <h2>Add new User Form</h2>
        <div class="row">
            <div class="col-25">
                <label for="name">User Name</label>
            </div>
            <div class="col-75">
                <input required type="text" id="name" name="name" placeholder="Name.." th:field="*{name}"
                >
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="login">User Login&nbsp;<b class="login_error" th:text="${error}"></b></label>
            </div>
            <div class="col-75">
                <input required type="text" id="login" name="login" placeholder="Login.." th:field="*{login}"
                >
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="password">User Password</label>
            </div>
            <div class="col-75">
                <input required type="password" id="password" placeholder="Password.." th:field="*{password}"
                >
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>Roles:</label>
            </div>
            <div class="col-75">
                <select multiple
                        id="role_checkbox"
                        class="form-select w-100"
                        size="3"
                        aria-label="size 3 select example"
                        th:value="${user.roles}"
                        th:name="roles">
                    <option value="1"
                            th:each="possible_role: ${possible_roles}"
                            th:text="${@roleToDtoMapper.convertRoleToDto(possible_role).name}"
                            th:value="${possible_role.id}">
                    </option>
                </select>
                <label for="role_checkbox">&nbsp;<b class="role_checkbox_error" id="role_checkbox_error"></b></label>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
            </div>
        </div>

        <div class="row">
            <input id="submit" type="submit" value="Submit" onclick="checkRoleSelect(this)">
        </div>
    </form>
</div>
<script>
    let hasRole = false;

    function checkRoleSelect() {
        let checkboxes = document.querySelectorAll('option:checked');
        if (checkboxes.length > 0) {
            hasRole = true;
        }
        if (hasRole) {
            document.getElementById("role_checkbox_error").textContent = "";
        } else {
            this.event.preventDefault();
            document.getElementById("role_checkbox_error").textContent = "Выберите роль";
        }
    }
</script>
</body>
</html>