<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/css/signup.css}" type="text/css"/>
    <title></title>
</head>
<style>

</style>
<body>
<h1>Signup Form</h1>
    <div id="id01" class="modal">
        <form class="modal-content" th:action="@{/signup}" th:object="${user}" method="post">

            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label for="user_name"><b>Name</b></label>
                <input th:field="*{name}" type="text" placeholder="Enter Name" id="user_name" required>

                <label for="email"><b>Email</b>&nbsp;<b class="email_error" th:text="${error}"></b></label>
                <input th:field="*{login}" type="text" placeholder="Enter Email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input th:field="*{password}" type="password" placeholder="Enter Password" class="psw" id="psw" required>

                <label for="roles"><b></b></label>
                <input th:field="*{roles}" type="hidden" class="roles" id="roles">

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" class="psw-repeat" id="psw-repeat" required>

                <div class="clearfix">
                    <a class="active" th:href="@{/}">
                        <button type="button" class="cancelbtn">Cancel</button>
                    </a>
                    <a class="active">
                        <button type="submit" id="signupbtn" class="signupbtn">Sign Up</button>
                    </a>
                </div>
            </div>

        </form>
    </div>
<script>
    const userPassword = document.getElementById("psw");
    const userPasswordRepeat = document.getElementById("psw-repeat");
    userPasswordRepeat.onkeyup = function () {
        if (userPasswordRepeat.value === userPassword.value) {
            document.getElementById("signupbtn").removeAttribute("disabled");
        } else {
            document.getElementById("signupbtn").setAttribute("disabled", "disabled");
        }
    }
</script>
</body>
</html>